[core]
    excludesfile = ~/.gitignore
[color]
    ui = auto
[alias]
    a = add
    l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lp = log -p --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    r = reset
    p = stage --patch
    d  = diff
    dt = difftool
    dc = diff --cached
    dtc = difftool --cached
    br = branch
    st = status
    si = stage --interactive
    ci = commit
    co = checkout
    ps = push
    pl = pull
    plr = pull --rebase
    sm = submodule
    submodules = submodule
    mnff = merge --no-ff
[user]
    name = dickeyxxx
    email = jeff@dickey.xxx
[sendemail]
    smtpencryption = tls
    smtpserver = smtp.gmail.com
    smtpuser = dickeytk@gmail.com
    smtpserverport = 587
[push]
    default = current
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
    trustExitCode = true
[difftool]
    prompt = false
[diff]
    tool = Kaleidoscope
[credential]
    helper = osxkeychain
[rerere]
    enabled = 1
[heroku]
    account = personal
[help]
	autocorrect = 1
