.DS_Store
.sass-cache
.gitconfig
.rspec
xcuserdata
coverage
ForwardFile
.cadre
errors.err
.tags
.tags_sorted_by_file
.lein-repl-history
.envrc
.*.swp
Gemfile.local*
*.coverprofile
dickeyxxx.local.etcd
